.works {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    padding-bottom: 94px;
  }
}

.woks-title-list {
  @include center-flex($jc: space-between);
}

.works-link {
  position: relative;
}

.text-works-box {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.text-works {
  @include font(700, 14px, 1.143);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
